In [1]:
Fruits = ['Orange', 'Kiwi', 'Banana']
for F in Fruits:
    print(F)

Orange
Kiwi
Banana

In [2]:
print(F)

Banana

In [6]:
for car in ['bmw', 'Ford', 'benz', 'gmc']:
    print(car, end =' ')

bmw Ford benz gmc

In [7]:
for character in 'This is a string':
    print(character)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [8]:
mylist = [1,2,3,4]

for num in mylist:
    if num == 4:
        break
    print(num**2)

1
4
9

In [9]:
t = ('apple,' 'banana', 'cherry')
type(t)

tuple

Using Conditional statement

In [15]:
thisistuple = ('apple', 'banana', 'cherry')
if "orange" in thisistuple:
    print("Yes, 'apple' is in the fruits tuple")
else:
    print('Nah')

Nah

# h1

## h2

### h3

#### h4

##### h5

###### h6

In [23]:
name = input("what is your name")
print("Hello, " + name + "!")

what is your name Shades

Hello, Shades!

In [28]:
name = input("what is your name")
age =int(input("what is your age"))
Year = 2024 - age
print(name , ' was born on ', Year)

what is your name Shades
what is your age 15

Shades  was born on  2009

In [29]:
a = int(input('Guess a number: '))

if a == 1:
    print('correct guess')
else:
    print('incorrect guess')

Guess a number:  1

correct guess